@import "prism.css";
@import 'filepond/dist/filepond.min.css';
@import "filepond-plugin-image-preview/dist/filepond-plugin-image-preview.min.css";

@tailwind base;
@tailwind components;
@tailwind utilities;


[x-cloak] {
    display: none !important;
}

.filepond--panel-root {
    background-color: rgb(237, 237, 237);
}

.dark .filepond--panel-root {
    background-color: #40444a;
}

.dark .filepond--drop-label {

    color: rgb(206, 206, 206);
}